.not-found {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #2563eb;
  height: 48px;
  width: 88px;
  left: 0px;
  top: 0px;
  border-radius: 12px;
  padding: 12px, 24px, 12px, 24px;
  border-color: transparent;
}
